<div class="container d-flex justify-content-center text-white">
  <div style="width: 400px; height: auto;">
    <%= simple_form_for [@event, @proposition] do |f| %>
    <div class="d-flex container" >
      <%= f.input :content, label: 'Enter your proposition', error: 'Content is mandatory, please specify one', class: "text-white"%>
      <%= f.submit "Add ", class: "btn btn-outline-light objectborder p-1 ", style: "max-width: 100px; max-height: 37px; margin-top: 33px; margin-left: 5px;"%>
    </div>
    <% end %>
  </div>
</div>
