
<div class="container d-flex justify-content-center">
  <div style="width: 400px; height: auto;">
    <%= simple_form_for @event do |f| %>
      <%= f.input :name, label: 'Name of the event', error: 'Name is mandatory, please specify one' %>
      <%= f.button :submit, class: "btn btn-outline-dark objectborder"%>
    <% end %>
  </div>
</div>
