<div class="container d-flex justify-content-center ">
  <h1 class="cinzel text-white">My Events</h1>
</div>

  <% @current_user_events.each do |event| %>
    <div class="container d-flex flex-column mb-2 align-text-center plex" style="max-width: 600px;">
      <%= link_to event_path(event), class: "text-decoration-none btn btn-outline-light", style: "max-width: 600px; border-radius: 10px 100px / 120px; background: rgba(0, 0, 0, 0.3);" do %>

      <%= event.name %>
      <%= link_to 'Edit', edit_event_path(event) %>
      <%= link_to "Delete",
        event_path(event),
        data: {turbo_method: :delete,  turbo_confirm: 'Are you sure?' },
        class: "text-decoration-none" %>
      <% end %>
    </div>
  <% end %>
