<div class="container d-flex justify-content-center">
  <h1>Index Page</h1>
</div>

  <% @current_user_events.each do |event| %>
    <div class="container d-flex flex-column  align-text-center plex p-1" style="">
      <div style="overflow: hidden;">
        <%= link_to event_path(event), class: "text-decoration-none btn btn-outline-light", style: "overflow: hidden; max-height: auto; width: 400px; border-radius: 10px 100px / 120px; background: rgba(0, 0, 0, 0.3);" do %>
          <%= event.name %>
        <% end %>
      </div>
      <div class="d-flex" style="margin-left: 10px;">
        <%= link_to 'Edit', edit_event_path(event), class: "text-decoration-none", style: "color: white;" %>
        <div style="margin-top: -14px; margin-left: 20px;">
          <%= link_to "",
            event_path(event),
            data: {turbo_method: :delete,  turbo_confirm: 'Are you sure?' },
            class: "text-decoration-none fa-solid fa-trash-can",
            style: "color: white;"%>
        </div>
      </div>
    </div>
<% end %>
