<div class="container d-flex justify-content-center">
  <h1>Index Page</h1>
</div>
  <%     @current_user_events.each do |event| %>
    <div class="container d-flex flex-column mb-2 align-text-center" style="width: 600px;">
      <%= link_to event_path(event), class: "text-decoration-none btn btn-outline-dark", style: "width: 600px;" do %>
      <%= event.name %>
      <%= link_to 'Edit', edit_event_path(event) %>
      <%= link_to "Delete",
        event_path(event),
        data: {turbo_method: :delete,  turbo_confirm: 'Are you sure?' },
        class: "text-decoration-none" %>
      <% end %>
    </div>
  <% end %>
