<div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 100vh;">
  <div class="container d-flex justify-content-center">
    <h2 class="cinzel text-white">Create a new event</h2>
  </div>
  <%= render "form", event: @event %>
</div>
