<div style="padding: 5rem 0rem;"
    data-controller="event-subscription"
    data-event-subscription-event-id-value="<%= @event.id %>"
>
  <% if current_user == @admin %>
   <%#this is the admin part %>
    <%= render "admin_propositions" %>
  <% else %>
    <%= render "user_propositions" %>
    <%# this is user part%>
  <% end %>
</div>
