
<div class="container d-flex flex-column mb-2 align-text-center" style="max-width: 600px;">
  <% @participants.each do |participant| %>
    <% participant.events.each do |event| %>
      <p><%= participant.nickname %></p>
        <%= link_to event_path(event), class: "text-decoration-none btn btn-outline-light", style: "max-width: 600px;" do %>
        <%= event.name %>
      <% end %>
    <% end %>
  <% end %>
</div>
