<div class="container text-white" style="padding-top: 5rem;">
  <h1 class="cinzel border-bottom" style="text-align: center; font-size: 50px;">All Events</h1>
</div>
<div class="container d-flex flex-column mb-2 text-align-center objectborder" style="max-width: 600px;">
<h4 class="cinzel text-white" style="text-align: center;">Open Events</h4>
  <% @participants.each do |participant| %>
    <% participant.events.each do |event| %>
    <% if event.status == true %>
        <%= link_to event_path(event), class: "text-decoration-none btn btn-outline-light ", style: "max-width: 600px; border-radius: 100px 10px / 120px; background: rgba(0, 0, 0, 0.3); margin-bottom:10px;" do %>
            <%= event.name.upcase %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <h4 class="cinzel text-white" style="text-align: center; " >Closed Events</h4>
  <% @participants.each do |participant| %>
    <% participant.events.each do |event| %>
    <% if event.status == false %>
        <%= link_to event_path(event), class: "text-decoration-none btn btn-outline-light ", style: "max-width: 600px; border-radius: 100px 10px / 120px; background: rgba(0, 0, 0, 0.3); margin-bottom:10px;" do %>
          <%= event.name.upcase %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
