.sizesm{
  border-radius: 40px;
  width: 600px;
  height: 140px;
  justify-content: space-between;
}

.sizelg{
  width: 600px;
  height: 450px;
  border-radius: 40px;
  justify-content: space-between;
}
