.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  z-index: 1;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar {
  position: fixed;
  z-index: 1;
  right: 0;
  width: 100%;
  text-align: right;
  background: #999594;
}
